{% extends 'base.html' %}
{% block content %}
<section class="game">
  <div class="score">
    <div class="player-score">
      <h2>Player</h2>
      <p>0</p>
    </div>
    <div class="computer-score">
      <h2>Computer</h2>
      <p>0</p>
    </div>
  </div>

  <div class="match fadeOut">
    <h2 class="winner">Choose an option</h2>
    <div class="hands">
      <img class="hoption player-hand" src="/static/rock.png" alt="" />
      <img class="hoption computer-hand" src="/static/rock.png" alt="" />
    </div>
    <div class="options">
      <div class="form">
        <select class="mdb-select md-form colorful-select dropdown-primary" id="playerOption">
          <option value="rock">rock</option>
          <option value="paper">paper</option>
          <option value="scissors">scissors</option>
        </select>
        <button class="btn btn-success">Show selected</button>
      </div>


    </div>
  </div>
</section>
{% endblock %}